/dts-v1/;
/* #include "skeleton.dtsi" */

/ {

	model = "Apple iPhone 4";
	compatible = "apple,s5l8930";
	#address-cells = <1>;
	#size-cells = <1>;

	aliases {
		console = "/serial@82500000";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a8";
			reg = <0x0>;
		};
	};

	uart0: serial@82500000 {
		compatible = "samsung,s5l-uart";
		reg = <0x82500000 0x1000>;
	};
};
